<div class="row py-5">
    <div class="col-12">
      <h1 class="text-center">Estado de la aplicación</h1>
    </div>
</div>

<div class="row py-5"> 
    <%= render "modify", apply: @apply %>
</div>

<div class="row py-5">
    <%= link_to "Vuelve", root_path %>
</div>
  