<div class="row py-5">
    <h2 class="text-center">Nueva vacante de trabajo</h2>
</div>

<div class="row py-5">
    <%= render "form", job: @job %>
</div>

<div class="row py-5">
    <%= link_to "Vuelve", root_path %>
</div>
  