<footer class="bg-dark text-white">
  <div class="container">
    <div class="row py-5">
     
      
      <div class="col-12 text-center py-5">
        <h4>Lincencia Sun Public License (SPL) versión 2</h4>
      </div>
    </div>
  </div>
</footer>
